@media screen and (max-width: 1550px) {


    .navbar{
        flex-direction: row;
        position: absolute;
        width:100vw;
        height:80px;
        vertical-align: middle;
        overflow:visible;
        z-index: 3000;
    }
    .profilenameimage{
        width:30vw;
        position:relative;
        bottom:20px;
    }
    .hamclass{
        display: block;
        position: absolute;
        right:100px;
        top: 34px;
    }
    .hamimage,.crossimage{
        position: absolute;
        width:25px;
    }
    .profileimg{
        display: none;
    }
    .name{
        display: block;
        width:100%;
    }
    .v-nav-resp{
        transform: translateY(-500px);
    }

    .container{
        flex-direction: column;
        position: absolute;
        background-color: rgba(58, 58, 58, 0.8);
        top:-70px;
        height: 340px;
        width:100vw;
        z-index: 1;
        opacity: 0;
        transition: all 1s ease-in-out;
    }
    #navbarList,.headingList{
        display: block;
        width:100vw;
        align-items: left;
        justify-content: left;
        padding:0px 50px;

    }

    .listItem{
        width:auto;
        border-bottom: 2px solid white;
        padding-bottom: 3px;
    }

    .icons{
        position: absolute;
        right:100px;
        top:40px;
        width:40vw;
        padding:0px auto;
    }

    /* coverpageDivclass */
    .coverpage{
        width:100vw;
    }
    .coverpage::before{
        width:100vw;
    }
    .headingdetails{
        width:100vw;
        font-size: 15px;
    }
    .coverarrowclass{
        position: relative;
        top:100px;
    }

    /* Know more about me section */
    .aboutcontainer{
        flex-direction: column;
        width:100vw;
    }
    .informationclass{
        width:100vw;
    }
    .detailsclass{
        width:100vw;
        padding:0px 20px;
    }
    .tableclass{
        width:90vw;

    }
    .linkclass{
        margin:100px auto;
        width: 176px;
        border-radius: 100px;
    }

    /* resume Section responsive decoration */
    .resumecontainer{
        width:100vw;
        margin:0px;
    }

    .resumedetailssection{
        flex-direction: column;
        width:100vw;
    }

    .resumecolumnclass{
        margin:0px;
        margin:30px auto;
        margin-left: 10px;
        width:80vw;
    }
    .resumeheading{
        display: flex;
        align-items: center;
        justify-content: center;
        padding:10px 0px;
        font-size: 1.8em;
        width:100vw;
        margin:0px;
    }
    .skillsectioncontainer{
        width:100vw;
        flex-direction: column;
    }
    .skillcontainer{
        flex-direction: column;
    }
    .secondhalfskillcontainer{
        margin: 0;
        padding: 0;
    }
    .resumelinkclass{
        width: 222px;
    }


    /* Project Section Decoration */
    #Projects{
        width:100vw;
        margin-top: 0px;
        padding-top: 0px;
    }
    .projectcontainer{
        flex-direction: column;
    }

    .projectheading{
        margin:0px;
        padding:0px;
    }

    .firstprojectsection,.secondprojectsection{
        width:40vw;
        margin:0px;

    }
    .resumeprojectcolumn{
        width:90vw;
    }
    /* Contactme Section */
    .contactmesection{
        width:100vw;
        margin:0px;
    }
    .btn{
        margin:0px;
    }
    .addressasndformsection{
        flex-direction: column;
        margin:0px;
    }
    .formsubmitbutton{
        margin:20px auto;
    }
    .socialmediaconnecticonitem{
        margin:0px 10px;
        margin-bottom: 50px;
    }
    .addresssection{
        width:80vw;
    }
    #contactme{
        width:80vw;
    }
    .formclass{
        margin:0px;
        width:80vw;

    }
    .addressdetaileditclass{
        margin:0px;
    }

    /* Form class */
    .formclass{
        flex-direction: column;
        margin:0px 10px;
    }
    .formheadingclass{
        display:flex;
        justify-content: center;
        align-items: center;
        margin:0px 10px;
        margin-bottom: 25px;
    }
    .inputclass{
        margin:0px;
        flex-direction: column;
        width:80vw;
    }
    #name,#email,#phone{
        width:80vw;
        margin-bottom: 20px;
    }
    #concern{
        width:80vw;
    }
    .contactmedivclass{
        width:100vw;
    }
    .addressheading{
        width:80vw;
    }
    .formsection{
        margin:0px;
        width:100vw;
        margin-top:50px;
        justify-content: center;
        align-items: center;
    }
    .footersection{
        width:100vw;
    }
    .main{
        margin:0px;
    }
    .socialmediaconnecticonclass{
        display: flex;
        width:81vw;
        align-items: center;
        justify-content: center;

    }
}

@media screen and (max-width: 626px) {
    .profilenameimage{
        font-size: 12px;
        vertical-align: middle;
        top:1px;
        width:30vw;
    }

    .coverpage{
        font-size: 12px;
    }
    .headingdetails{
        font-size: 10px;
    }
    .coverarrowclass{
        top:230px;
    }
    .headingList{
        font-size: 0.9rem;
    }
    /* Know More section / personal Details Sections */
    .aboutheading{
        font-size: 1.9rem;
        margin-top:0px;

    }
    .headingcontainer{
        margin-top:0px;
    }
    .information{
        font-size: 1.6rem;
        align-self: center;
        justify-content: center;
    }
    .footersection{
        font-size: 1.2rem;
    }

    /* resume section */
    .resumecontainer{
        margin:0px;
    }
    .resumeheading{
        font-size: 1.5em;
    }
    /* Projects */
    .resumedetail{
        font-size: 0.9em;
    }
    .icons{
        margin-right: 20px;
    }

}

@media screen and (max-width: 400px) {
    .profilenameimage{
        width:20vw;
        vertical-align: auto;
        top:2px;
    }
    .icons{
        width:40vw;
    }
    .name{
        font-size: 0.2em;
        top:2px;
        vertical-align: auto;
    }
    .resumecolumnclass{
        padding:0px 3px;
        margin-left: 0px;
    }
    .firstprojectsection,.secondprojectsection{
        margin:0px;
        padding:0px;
    }
    .footersection{
        font-size: 0.9em;
    }
}