@media screen and (max-width: 1080px) {

    .navbarcontainer {
        flex-direction: column;
    }

    .main {
        flex-direction: row;
    }

    #navbarList {
        justify-content: left;
        align-items: left;
        padding-bottom: 30px;
    }

    #navbarList li {
        margin-top: 15px;
        border-bottom: 2px solid white;
    }

    .aboutcontainer {
        height: 1000px;
        overflow-y: auto;
    }

    .navbar {
        flex-direction: row;
        width: 100vw;
        height: 60vh;
        justify-content: left;
        align-items: left;
        z-index: 2000;
    }


    .v-nav-resp {
        position: absolute;
        transform: translateY(-320px);
    }

    #mainid {
        flex-direction: column;
    }

    .profileimg {
        display: none;
    }

    .container {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-items: left;
        margin-top: 0;
        background-color: rgba(36, 36, 36, 0.8);
        position: absolute;
        top: 5.2em;
        height: 320px;
        transition: all 0.7s ease-out;
        opacity: 0;

    }

    .listItem {
        width: 96.5vw;
        padding: 0.5em 0px;
    }

    .maincontainer {
        display: flex;
        flex-direction: column;
    }

    .profilenameimage {
        width: 30vw;
        align-items: left;
        justify-content: left;
        margin: 0px;
        margin-left: 1.5em;
        padding-top: 1em;
        vertical-align: middle;
        font-size: 10px;
    }

    .name {
        display: block;
        font-size:12px;
        width: 100%;
    }

    .icons {
        top: 0.3em;
        justify-content: center;
        align-items: center;
        height: 5vh;
        right: 1em;
        margin: 0px;
        padding-top: 0.7em;
        width: 30vw;
        margin-right: 1em;
    }

    .coverpage {
        width: 100vw;
    }

    .mainid {
        width: 100vw;
    }

    .coverpage::before {
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;
        background-size: cover;
    }

    .headingdetails {
        width: 100vw;
    }

    #About {
        width: 100vw;
    }

    .resumecontainer {
        width: 100vw;
    }

    .resumedetailssection {
        flex-direction: column;
        width: 100vw;
        height: 400px;
        overflow-y: auto;
    }

    .resumecolumnclass {
        width: 75.5vw;
    }

    .skillsectioncontainer {
        width: 100vw;
    }

    .firsthalfskillcontainer,
    .secondhalfskillcontainer {
        width: 100vw;
    }

    .skillcontainer {
        flex-direction: column;
        height: 400px;
        overflow-y: auto;
    }

    .resumedetailclass {
        height: 200px;
        overflow-y: auto;
    }

    .coverarrowclass {
        top: 7.5em;
    }

    .aboutcontainer {
        flex-direction: column;
    }

    .informationclass {
        width: 80vw;
        align-items: center;
        justify-content: center;
    }

    .detailsclass {
        width: 80vw;
        flex-direction: column;
    }

    .tableclass {
        width: 82vw;
    }

    .informationParagraph {
        align-items: left;
        justify-content: left;
        width: 80vw;
    }

    .btn {
        width: 20vw;
    }

    .linkclass {
        width: 20vw;
    }

    .resumecontainer {
        width: 100vw;
    }

    .projectsections {
        width: 100vw;
    }

    .projectcontainer {
        width: 80vw;
        flex-direction: column;
        height: 1000px;
        overflow-y: auto;
    }

    .contactmesection {
        width: 100vw;
    }

    .addressasndformsection {
        flex-direction: column;
        width: 100vw;
        height: 1000px;
        margin:0px auto;
        overflow-y: auto;
    }

    .addresssection {
        width: 100vw;
    }

    .formsection {
        width: 100vw;
    }

    .contactmeform {
        margin: 0px;
        width: 80vw;
    }

    .inputclass {
        margin: 0px;
        justify-content: left;
        flex-direction: column;
        width: 80vw;
    }

    #name,
    #email,
    #phone {
        margin: 1em 0px;
        width: 80vw;
    }

    #concern {
        width: 80vw;
        margin: 1em 0px;
    }

    .formclass {

        position: relative;
        width: 95vw;
        margin: 0 auto;
        margin-top: 2em;
    }

    .footersection {
        position: relative;
        width: 100vw;
        top: 20em;
    }

    .hamclass {
        display: flex;
        width: 1em;
        height: 1em;
        position: absolute;
        right: 60px;
        top: 25px;
        cursor: pointer;
        z-index: 100;

    }

    .hamimage {
        filter: invert();
    }

    .hamimage,
    .crossimage {
        position: absolute;
        width: 30px;
        transition: all 2s ease-in-out;
    }

    .crossimage {
        width: 30px;
    }
}

@media screen and (max-width: 414px) {
    .profilenameimage{
        width: 30vw;
    }


    .icons{

        width: 50vw;
        align-items: right;
        justify-content: left;

    }
    .hamclass{
        position: absolute;
        right:50px;
        width:0.5em;
        height:0.5em;
        top: 18px;
    }
    .container{
        top:3.2em;
    }
    .crossimage{
        width:1.5em;
        height:1.5em;
    }
    .container li{
        font-size: 0.8em;
    }

    /* Portfolio Section */
    #home{
        font-size: 0.75em;
    }

    .headingcontainer{
        font-size: 0.8em;
    }

    .information{
        font-size: 1.8em;
    }
    .tableclass{
        font-size: 1em;
    }

    .btn{
        width:10em;
    }
    .resumecolumnclass{
        margin:12px auto;
        font-size: 0.8em;

    }
    .navbarcontainer{
        overflow-x: hidden;
    }

}